.contact-body-section {
  padding: 100px 0;
  background: url("../assets/partnersbg.jpg") no-repeat;
  background-size: cover;
  background-position: center bottom;
}

.contact-body-section .inner-row {
  width: 1200px;
}
.contact-intro {
  width: 800px;
  margin: auto;
  text-align: center;
}
.contact-intro h1 {
  font-size: 56px;
  font-family: "DM Sans";
  line-height: 80px;
}
.contact-intro p {
  font-size: 18px;
  line-height: 36px;
  font-weight: 300;
}

.contact-body-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  margin-top: 80px;
}
.contact-image img {
  border-radius: 20px;
}
.contact-form {
  padding: 40px;
  background: rgb(253, 253, 253);
  border-radius: 20px;
}

.contact-form h3 {
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 30px;
}
.contact-form .form-row {
  margin-bottom: 20px;
}
.form-row label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}
.form-row .form-control {
  width: 100%;
  height: 55px;
  background: white;
  border: 1px solid rgb(210, 210, 210);
  border-radius: 10px;
  outline: none;
  padding-left: 5%;
  font-family: "Lexend Deca";
  font-size: 16px;
  font-weight: 300;
}
.form-control:focus,
.form-control:hover,
.form-row textarea:focus,
.form-row textarea:hover {
  border: 1px solid var(--main-color);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
  appearance: textfield;
}

.form-row textarea {
  width: 100%;
  padding: 5%;
  font-family: "Lexend Deca";
  font-size: 16px;
  font-weight: 300;
  height: 200px;
  outline: none;
  border: 1px solid rgb(210, 210, 210);
  border-radius: 10px;
}
.form-btn button {
  width: 150px;
  font-family: "Lexend Deca";
  height: 50px;
  background: var(--main-color);
  border-radius: 10px;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 300;
  cursor: pointer;
}

.contact-details-section {
  display: flex;
  position: relative;
  padding-bottom: 150px;
  background: rgb(252, 255, 255);
  overflow: hidden;
}
.details-column {
  padding: 100px 15%;
  flex-shrink: 0;
  width: 65%;
  background: var(--bg-black-color);
}
.details-column .header {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header span {
  width: 50px;
  height: 2px;
  background: rgb(253, 253, 253);
  margin-top: -10px;
}
.header h3 {
  font-size: 20px !important;
  color: rgb(253, 253, 253);
  font-weight: 400 !important;
}
.details-column h1 {
  color: rgb(253, 253, 253);
  font-family: "DM Sans";
  font-size: 56px;
  line-height: 90px;
}
.details-column h3 {
  color: rgb(253, 253, 253);
  font-weight: 200;
  margin-bottom: 10px;
  font-size: 17px;
}
.row.first {
  margin-top: 30px;
}
.row h4 {
  color: rgb(253, 253, 253);
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 18px;
}
.map-column iframe {
  border: none;
  position: relative;
  right: 200px;
  top: 200px;
}

@media (max-width: 1250px) {
  .contact-body-section .inner-row {
    width: 90%;
  }
}

@media (max-width: 1090px) {
  .contact-body-row {
    grid-template-columns: repeat(1, 1fr);
  }
  .contact-image {
    height: 500px;
  }
  .contact-details-section {
    flex-direction: column;
    padding-bottom: 0;
  }
  .details-column,
  .contact-intro {
    width: 100%;
  }
  .map-column iframe {
    right: 0px;
    top: 0px;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .contact-intro h1,
  .contact-details-section h1 {
    font-size: 40px;
    line-height: 60px;
  }
  .contact-body-section {
  padding: 40px 0;
}
}
