@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Lexend+Deca:wght@100;200;300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-color: #20b5bb;
  --text-color: rgb(0, 39, 42);
  --text-color-2: rgb(83, 83, 83);
  --text-white: whitesmoke;
  --text-white-2: rgb(190, 190, 190);
  --secondary-color: #f2ba5e;
  --auxiliary-color: #0d465c;
  --auxiliary-color-2: #ff898f;
  --bg-black-color: rgb(0, 8, 9);
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Lexend Deca";
  background: rgb(249, 255, 255);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.inner-row {
  width: 90%;
  margin: auto;
}
.spacer {
  background-color: white;
}

/* Header Styles */
header {
  height: 85px;
  position: relative;
}
header.scrolled {
  background: white;
  position: fixed;
  top: 0;
  width: 100%;
  transform: translateY(-100%);
  transition: all 0.7s ease;
  z-index: 98;
  box-shadow: 0px 1px 2px -1px gainsboro;
}
header.scrolled.active {
  transform: translateY(0);
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid gainsboro;
  position: relative;
}
header.scrolled.active .header-content {
  border: none;
}
header .logo,
.sidebar-content .logo a {
  width: 160px;
}

.header-content nav {
  display: flex;
  align-items: center;
  gap: 100px;
}
.header-content nav ul {
  gap: 40px;
  display: flex;
  align-items: center;
  z-index: 90;
}
.header-content nav ul li a,
.sidebar-content nav ul li a {
  font-weight: 300;
  color: var(--text-color);
  position: relative;
}
.header-content nav ul li a:hover,
.header-content nav ul li a.active,
.sidebar-content nav ul li a:hover,
.sidebar-content nav ul li a.active {
  color: purple;
}
.header-content nav ul li a::after,
.sidebar-content nav ul li a:after {
  content: "";
  width: 150%;
  height: 40px;
  background: rgba(205, 228, 235, 0.35);
  position: absolute;
  left: -25%;
  top: -45%;
  border-radius: 6px;
  opacity: 0;
  transition: all 0.6s ease;
}

.header-content nav ul li a.active::after,
.header-content nav ul li a:hover::after,
.sidebar-content nav ul li a.active::after,
.sidebar-content nav ul li a:hover::after {
  opacity: 1;
}

.header-content .call-to-action a,
.sidebar-content .call-to-action a {
  width: 135px;
  height: 40px;
  background: rgb(65, 223, 107);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  font-weight: 300;
  font-size: 15px;
  color: rgb(0, 0, 0);
  gap: 5px;
}
.header-content .call-to-action a span,
.sidebar-content .call-to-action a span {
  display: flex;
}
.header-content .mobile-menu-trigger {
  position: absolute;
  right: 0;
  z-index: 99;
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: none;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  background: black;
}
.mobile-menu-trigger span {
  color: white;
  font-size: 22px;
  display: flex;
}

.sidebar-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.sidebar-container.active {
  z-index: 1000;
}
.sidebar-overlay {
  background: #F3E8FF;
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0;
  right: 0;
  position: absolute;
}
.sidebar-overlay.active {
  z-index: 103;
}
.sidebar-content {
  width: 500px;
  height: 100%;
  background-color: white;
  position: absolute;
  padding: 20px 10px;
  transform: translateX(-100%);
}
.sidebar-content.active {
  z-index: 300;
}
.sidebar-content .logo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 15px;
  border-bottom: 1px solid gainsboro;
}

.sidebar-content .logo span {
  width: 40px;
  height: 40px;
  background: #F3E8FF;
  border-radius: 6px;
  color: rgb(0, 0, 0);
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.sidebar-content ul {
  margin: 20px 0;
}
.sidebar-content ul li {
  line-height: 50px;
}

/* Reuseable Heropart */
#hero {
  height: 90vh;
  background: linear-gradient(180deg, #ffffff00 50%, #ffffff 100%),
    url("assets/herobg.jpg") no-repeat;
  background-size: cover;
  background-position: top;
  position: relative;
  overflow: hidden;
}
#hero::after {
  position: absolute;
  content: "";
  width: 80%;
  height: 1px;
  background: rgba(10, 53, 63, 0.199);
  left: 50%;
  transform: translateX(-50%);
}
.hero-part-content {
  height: calc(90vh - 85px);
  display: flex;
  align-items: center;
  width: 1200px;
  margin: auto;
}
.hero-part-row {
  display: grid;
  grid-template-columns: 60% auto;
  gap: 60px;
}
.hero-part-description {
  display: flex;
  align-items: center;
}
.hero-part-description h3 {
  font-size: 20px;
  text-transform: uppercase;
  color: var(--main-color);
  font-weight: 500;
  margin-bottom: 10px;
  font-family: "DM Sans";
}
.hero-part-description h1 {
  font-size: 56px;
  line-height: 80px;
  font-family: "DM Sans";
  width: 90%;
}
.hero-part-description p {
  font-size: 18px;
  line-height: 36px;
  width: 90%;
  font-weight: 300;
}
.hero-part-images img {
  object-fit: contain;
}

.hero-part-images .image-box {
  display: flex;
  gap: 15px;
  align-items: flex-end;
  justify-content: center;
}
.hero-part-images .image-box img {
  max-width: 220px;
  border-radius: 20px;
}

/* Footer */
footer {
  padding: 90px 0;
  background: rgb(252, 255, 255);
}
footer .inner-row {
  width: 1200px;
}
.footer-content {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 50px;
}
.footer-column h3 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 600;
  font-weight: 400;
  text-transform: uppercase;
}
.footer-column p {
  font-size: 17px;
  line-height: 34px;
  font-weight: 300;
}
.footer-column .email {
  border-bottom: 2px solid;
  display: inline-block;
  cursor: pointer;
  color: #222;
  margin-top: 5px;
}
.footer-column .number {
  font-size: 24px;
  margin-top: 20px;
  color: var(--main-color);
  font-weight: 400;
}
.footer-column ul li {
  line-height: 35px;
}
.footer-column ul li a {
  color: #222;
  display: flex;
  gap: 5px;
  font-size: 17px;
  font-weight: 300;
  align-items: center;
  transition: all 0.5s ease;
}
.footer-column ul li a span {
  display: inline-flex;
}
.footer-column ul li a:hover {
  color: var(--main-color);
  gap: 7px;
}
.footer-form form {
  display: flex;
  margin-top: 20px;
  gap: 10px;
}
.footer-form .input {
  display: inline-flex;
  padding: 0px 10px;
  align-items: center;
  gap: 5px;
  border-radius: 6px;
  background: rgba(205, 228, 235, 0.35);
}
.input input[type="text"] {
  border: none;
  width: 250px;
  font-family: "Lexend Deca";
  font-weight: 300;
  background: transparent;
  height: 50px;
  outline: none;
}
.input span {
  display: inline-flex;
}
.footer-form .choice {
  display: flex;
  gap: 5px;
  margin-top: 10px;
}
.footer-form .choice span {
  font-weight: 300;
  font-size: 15px;
}
.footer-form .choice a {
  color: rgb(0, 39, 42);
  border-bottom: 1px solid rgb(0, 39, 42);
}
.footer-form button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--main-color);
  border: none;
  transition: all 0.5s ease;
  cursor: pointer;
}
.footer-form button span {
  display: inline-flex;
  color: var(--text-white);
  font-size: 20px;
  margin-top: 3px;
}
.footer-form button:hover {
  transform: scale(0.95);
}

.footer-social-links ul {
  display: flex;
  gap: 30px;
  margin-top: 30px;
}
.footer-social-links ul li a {
  font-size: 20px;
}
.copyright-section {
  padding: 25px 0;
  position: relative;
  display: flex;
  justify-content: center;
  background: rgb(252, 255, 255);
}
.copyright-section::before {
  content: "";
  width: 90%;
  height: 1px;
  background: rgba(0, 39, 42, 0.092);
  display: block;
  position: absolute;
  margin: auto;
  top: 0;
}
.copyright-section .inner-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.copyright-section p,
.policy-links a {
  font-weight: 300;
  color: rgb(0, 8, 9);
  font-size: 14px;
  transition: all 0.5s ease;
}
.policy-links {
  display: flex;
  align-items: center;
  gap: 10px;
}
.policy-links a:hover {
  color: var(--main-color);
}

@media (max-width: 1300px) {
  .hero-part-row {
    grid-template-columns: repeat(2, 1fr);
    padding: 100px 0;
  }
  #hero,
  .hero-part-content {
    height: auto;
  }
  .hero-part-content {
    width: 90%;
  }
}

@media (max-width: 1250px) {
  footer .inner-row {
    width: 90%;
  }
}
@media (min-width: 1100px) {
  .sidebar-container {
    display: none;
    z-index: -1;
  }
}
@media (max-width: 1100px) {
  .header-content .mobile-menu-trigger {
    display: flex;
  }
  .header-content nav {
    display: none;
  }
  .hero-part-row {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .hero-part-description {
    text-align: center;
  }
  .hero-part-description h1,
  .hero-part-description p {
    margin: auto;
  }
}
@media (max-width: 900px) {
  .footer-content {
    grid-template-columns: repeat(1, 1fr);
  }

  .copyright-section .inner-row {
    flex-direction: column;
    gap: 5px;
  }
}

@media (max-width: 768px) {
  .hero-part-description h1 {
    font-size: 40px;
    line-height: 60px;
  }
}

@media (max-width: 500px) {
  .sidebar-content {
    width: 290px;
  }

  .sidebar-content .logo span {
    width: 30px;
    height: 30px;
  }
}
